// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');


// Mixins
@mixin tag($bg-color) {
  -webkit-transition: color 0.2s;
  background: $bg-color;
  border-bottom: 0;
  border-radius: 5px 0 0 5px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  height: 25px;
  line-height: 26px;
  margin: 5px;
  padding: 1px 12px 0 15px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  &::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 5px;
    position: absolute;
    top: 10px;
    width: 6px;
  }
  &::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid $bg-color;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
}
// Mixins end

body {
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
.center{
  text-align: center;
}

.loader{
  height: 60px;
}

.hd1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  transition: 0.4s all ease;
}

.hd-small {
  font-size: 18px;
  font-weight: 100;
  margin: 10px 0;
  text-align: center;
}

.search-div {
  margin: 30px auto;
  text-align: center;
  .search {
    border: solid 1px #dcdcdc;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    height: 35px;
    outline: none;
    padding: 0 10px;
    width: 400px;
  }
}

.developer-list {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, minmax(32%, 1fr));
}

.developer {
  border: solid .5px #2196f3;
  border-radius: 5px;
  margin: 5px;
  padding: 20px 15px;
  transition: 0.2s all ease;
  &:hover {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.12), 0 10px 15px 0 rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }
}

.profile-image {
  border-radius: 50px;
  width: 80px;
}


.dev {
  display: flex;
  .dev-avatar {
    flex: 1.5;
    text-align: center;
  }
  .dev-desc {
   
    flex: 5;
    .dev--name {
      font-size: 18px;
      font-weight: 300;
    }
    %basic-text {
      color: #313131;
      font-size: 15px;
      font-weight: 300;
    }
    .dev-company {
      @extend %basic-text;
    }
    .dev--company {
      margin-top: 10px;
      @extend %basic-text;
    }
    .dev--city {
      @extend %basic-text;
    }
    .dev--email {
      @extend %basic-text;
    }
  }
  .dev--social {
    align-self: start;
    flex: 1;
    text-align: right;
    img {
      margin: 10px 0;
      width: 25px;
    }
  }
}

.dev--skills {
  // margin-top: 15px;
  margin-left: -5px;
  span {
    @include tag(#2196f3);
  }
}

.footer {
  font-family:  'Roboto', sans-serif;
  margin: 30px 0;
  text-align: center;
  .heart {
    color: #f44336;
  }
}

.github-corner {
  svg {
    border: 0;
    color:#fff;
    fill:#151513;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
    transform-origin: 130px 106px;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@media screen and (max-width: 992px) {
  .developer-list {
    grid-template-columns: repeat(2, minmax(48%, 1fr));
  }
}

@media screen and (max-width: 798px) {
  .developer-list {
    grid-template-columns: repeat(2, minmax(100%, 1fr));
  }
}
